{% extends "layouts/main.html" %}

{% set pageName = 'Your email addess' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form>
      {{ govukInput({
        id: "[new][emailAdress]",
        name: "[new][emailAdress]",
        label: {
          text: pageName,
          isPageHeading: true,
          classes: "govuk-label--l"
          },
        value: data.new.emailAdress,
        type: "email",
        autocomplete: "email",
        spellcheck: false
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
